.container {
	padding-right: 15px;
 	padding-left: 15px;
 	margin-right: auto;
	margin-left: auto;
	max-width: 1170px;
}




/*------------------------------------------------------*/
/*--------------------------SVG-------------------------*/
/*------------------------------------------------------*/

/*-----------------------Fill-Edit----------------------*/
.floorbckgrnd {
	fill: #262626;
}
.table {
	fill: #00FFFF;
}
.occupied {
	fill: #FF0000;
}